<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <Button>BUY PRODUCT</Button>
            <ul>
                <li>
                    Following Time
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2 style='color: #BE185A'>{{hardware.name}}</h2>
            <iframe width="560" height="315" src="https://maytinhvanphong.com.vn/wp-content/uploads/2022/09/{{hardware.videoId}}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p>{{hardware.description}}</p>
        </div>
    </div>
</div>